# Machine Learning with Python
## Quick Python Refresher

This is my first Notebook. This is topic-1

# Knowledge Shelf
## Knowledge Shelf
### Knowledge Shelf
#### Knowledge Shelf
##### Knowledge Shelf

**Knowledge Shelf**

<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c3/Python-logo-notext.svg/1869px-Python-logo-notext.svg.png" alt="Image not found" width="300" height="300">

[Python Website](https://www.python.org/)

- This is point-1
    - This is sub-point-1
    - This is sub-point-2
    - This is sub-point-3
    - This is sub-point-4
- This is point-2
- This is point-3

* This is point-1
* This is point-2
* This is point-3

## Python Strings

In [36]:
print("Welcome to Knowledge Shelf after a long time.")

Welcome to Knowledge Shelf after a long time.

In [37]:
print('Welcome to Knowledge Shelf after a long time.')
print("Welcome to Knowledge Shelf after a long time.")
print('''Welcome to Knowledge Shelf after a long time.''')
print("""Welcome to Knowledge Shelf after a long time.""")

Welcome to Knowledge Shelf after a long time.
Welcome to Knowledge Shelf after a long time.
Welcome to Knowledge Shelf after a long time.
Welcome to Knowledge Shelf after a long time.

In [38]:
print('What\'s your name?')
print("What's your name?")

What's your name?
What's your name?

## Python Builtins

In [39]:
dir(__builtins__)

['ArithmeticError',
 'AssertionError',
 'AttributeError',
 'BaseException',
 'BlockingIOError',
 'BrokenPipeError',
 'BufferError',
 'BytesWarning',
 'ChildProcessError',
 'ConnectionAbortedError',
 'ConnectionError',
 'ConnectionRefusedError',
 'ConnectionResetError',
 'DeprecationWarning',
 'EOFError',
 'Ellipsis',
 'EncodingWarning',
 'EnvironmentError',
 'Exception',
 'False',
 'FileExistsError',
 'FileNotFoundError',
 'FloatingPointError',
 'FutureWarning',
 'GeneratorExit',
 'IOError',
 'ImportError',
 'ImportWarning',
 'IndentationError',
 'IndexError',
 'InterruptedError',
 'IsADirectoryError',
 'KeyError',
 'KeyboardInterrupt',
 'LookupError',
 'MemoryError',
 'ModuleNotFoundError',
 'NameError',
 'None',
 'NotADirectoryError',
 'NotImplemented',
 'NotImplementedError',
 'OSError',
 'OverflowError',
 'PendingDeprecationWarning',
 'PermissionError',
 'ProcessLookupError',
 'RecursionError',
 'ReferenceError',
 'ResourceWarning',
 'RuntimeError',
 'RuntimeWarning',
 'StopAsyncIteration',
 'StopIteration',
 'SyntaxError',
 'SyntaxWarning',
 'SystemError',
 'SystemExit',
 'TabError',
 'TimeoutError',
 'True',
 'TypeError',
 'UnboundLocalError',
 'UnicodeDecodeError',
 'UnicodeEncodeError',
 'UnicodeError',
 'UnicodeTranslateError',
 'UnicodeWarning',
 'UserWarning',
 'ValueError',
 'Warning',
 'ZeroDivisionError',
 '__IPYTHON__',
 '__build_class__',
 '__debug__',
 '__doc__',
 '__import__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'abs',
 'aiter',
 'all',
 'anext',
 'any',
 'ascii',
 'bin',
 'bool',
 'breakpoint',
 'bytearray',
 'bytes',
 'callable',
 'chr',
 'classmethod',
 'compile',
 'complex',
 'copyright',
 'credits',
 'delattr',
 'dict',
 'dir',
 'display',
 'divmod',
 'enumerate',
 'eval',
 'exec',
 'execfile',
 'filter',
 'float',
 'format',
 'frozenset',
 'get_ipython',
 'getattr',
 'globals',
 'hasattr',
 'hash',
 'help',
 'hex',
 'id',
 'input',
 'int',
 'isinstance',
 'issubclass',
 'iter',
 'len',
 'license',
 'list',
 'locals',
 'map',
 'max',
 'memoryview',
 'min',
 'next',
 'object',
 'oct',
 'open',
 'ord',
 'pow',
 'print',
 'property',
 'range',
 'repr',
 'reversed',
 'round',
 'runfile',
 'set',
 'setattr',
 'slice',
 'sorted',
 'staticmethod',
 'str',
 'sum',
 'super',
 'tuple',
 'type',
 'vars',
 'zip']

In [40]:
help(ord)

Help on built-in function ord in module builtins:

ord(c, /)
    Return the Unicode code point for a one-character string.

In [41]:
print(ord('A'))
print(ord('a'))
print(ord('B'))
print(ord('b'))

65
97
66
98

In [42]:
help(sum)

Help on built-in function sum in module builtins:

sum(iterable, /, start=0)
    Return the sum of a 'start' value (default: 0) plus an iterable of numbers

    When the iterable is empty, return the start value.
    This function is intended specifically for use with numeric values and may
    reject non-numeric types.

In [43]:
l1 = [10,20,30,40,50] 
print(sum(l1, 2))
print(sum([10,20,30,40,50]))

152
150

In [44]:
help(pow)

Help on built-in function pow in module builtins:

pow(base, exp, mod=None)
    Equivalent to base**exp with 2 arguments or base**exp % mod with 3 arguments

    Some types, such as ints, are able to use a more efficient algorithm when
    invoked using the three argument form.

In [45]:
print(pow(2,10))
print(2**10)

1024
1024

## Arithmetic Operations

In [46]:
34+44

78

In [47]:
76 - 55
55 - 76

-21

In [48]:
12 * 7

84

In [49]:
22/7

3.142857142857143

In [50]:
print(22//7)
print(type(22//7))

3
<class 'int'>

In [51]:
2**8

256

# Comments in python

In [52]:
# # This is Line-1.
# This is Line-2.
# This is Line-3.

In [53]:
## only works for .py files
'''# # This is Line-1.
# This is Line-2.
# This is Line-3.'''

'# # This is Line-1.\n# This is Line-2.\n# This is Line-3.'

## Escape Characters

In [54]:
print("This is Line-1. This is Line-2. This is Line-3. This is Line-4.")
print("This is Line-1.\nThis is Line-2.\nThis is Line-3.\nThis is Line-4.")

This is Line-1. This is Line-2. This is Line-3. This is Line-4.
This is Line-1.
This is Line-2.
This is Line-3.
This is Line-4.

In [55]:
print("""
This is Line-1.
This is Line-2.
This is Line-3.
This is Line-4.
""")

This is Line-1.
This is Line-2.
This is Line-3.
This is Line-4.

In [56]:
print("1,\t2,\t3,\t4,\t5,\t6,\t7")

1,	2,	3,	4,	5,	6,	7

## Variables

In [57]:
var1 = "Hello"
_var1 = "Knowledge Shelf"
var_10 = 30
val_float = 3.141
print(var1, _var1, var_10, val_float)
print(var1 + " " + _var1 + ". Age is " + str(var_10) + ".")

Hello Knowledge Shelf 30 3.141
Hello Knowledge Shelf. Age is 30.

In [58]:
10_varr = 40

SyntaxError: invalid decimal literal (3729017082.py, line 1)

In [59]:
var1 = 22
var2 = 7

In [60]:
print(type(var2))

<class 'int'>

In [61]:
print("Add - ",var1 + var2)
print("Sub - ",var1 - var2)
print("Mul - ",var1 * var2)
print("Div - ",var1 / var2)
print("Float Div - ",var1 // var2)

Add -  29
Sub -  15
Mul -  154
Div -  3.142857142857143
Float Div -  3

## Runtime Input in Python

In [62]:
var1 = input("Enter the value = ")

Enter the value =  34

In [63]:
print(var1)
print(type(var1))

34
<class 'str'>

In [64]:
var2 = int(input("Enter the value = "))
print(var2)
print(type(var2))

Enter the value =  56

56
<class 'int'>

## print() formats

In [65]:
var1 = input("Enter the value: ")
print("my name is "+var1)
print("my name is",var1)
print("my name is {}".format(var1))
print(f"my name is {var1}")

Enter the value:  Vinay

my name is Vinay
my name is Vinay
my name is Vinay
my name is Vinay

## Loops in Python

1. While Loop
2. For Loop

In [4]:
## While Loop

import time
var1 = 0

while(var1 <= 20):
    print("Value of var1:",var1)
    time.sleep(0.5)
    var1 = var1 + 1

Value of var1: 0
Value of var1: 1
Value of var1: 2
Value of var1: 3
Value of var1: 4
Value of var1: 5
Value of var1: 6
Value of var1: 7
Value of var1: 8
Value of var1: 9
Value of var1: 10
Value of var1: 11
Value of var1: 12
Value of var1: 13
Value of var1: 14
Value of var1: 15
Value of var1: 16
Value of var1: 17
Value of var1: 18
Value of var1: 19
Value of var1: 20

In [5]:
while True:
    num = int(input("Enter the value:"))
    var1 = 1
    if num == 0:
        break
    while(var1 <= 10):
        var2 = var1 * num
        print(f"{num} * {var1} = {var2}")
        var1+=1
print("While loop STOP!")

Enter the value: 5

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

Enter the value: 10

10 * 1 = 10
10 * 2 = 20
10 * 3 = 30
10 * 4 = 40
10 * 5 = 50
10 * 6 = 60
10 * 7 = 70
10 * 8 = 80
10 * 9 = 90
10 * 10 = 100

Enter the value: 79

79 * 1 = 79
79 * 2 = 158
79 * 3 = 237
79 * 4 = 316
79 * 5 = 395
79 * 6 = 474
79 * 7 = 553
79 * 8 = 632
79 * 9 = 711
79 * 10 = 790

Enter the value: 0

While loop STOP!

In [10]:
## For Loop
for var1 in range(1, 21, 2):
    print("Value of var1:",var1)

Value of var1: 1
Value of var1: 3
Value of var1: 5
Value of var1: 7
Value of var1: 9
Value of var1: 11
Value of var1: 13
Value of var1: 15
Value of var1: 17
Value of var1: 19

In [11]:
for var1 in range(21, 1, -2):
    print("Value of var1:",var1)

Value of var1: 21
Value of var1: 19
Value of var1: 17
Value of var1: 15
Value of var1: 13
Value of var1: 11
Value of var1: 9
Value of var1: 7
Value of var1: 5
Value of var1: 3

In [12]:
while True:
    num = int(input("Enter the value:"))
    var1 = 1
    if num == 0:
        break
    for var1 in range(1,11):
        var2 = var1 * num
        print(f"{num} * {var1} = {var2}")
print("For loop STOP!")

Enter the value: 12

12 * 1 = 12
12 * 2 = 24
12 * 3 = 36
12 * 4 = 48
12 * 5 = 60
12 * 6 = 72
12 * 7 = 84
12 * 8 = 96
12 * 9 = 108
12 * 10 = 120

Enter the value: 13

13 * 1 = 13
13 * 2 = 26
13 * 3 = 39
13 * 4 = 52
13 * 5 = 65
13 * 6 = 78
13 * 7 = 91
13 * 8 = 104
13 * 9 = 117
13 * 10 = 130

Enter the value: 14

14 * 1 = 14
14 * 2 = 28
14 * 3 = 42
14 * 4 = 56
14 * 5 = 70
14 * 6 = 84
14 * 7 = 98
14 * 8 = 112
14 * 9 = 126
14 * 10 = 140

Enter the value: 0

For loop STOP!

## Functions in Python

def fun_name(arg1, arg2):
    
    func_body
    
    func_body
    
    func_body

In [13]:
def func1():
    print("This is my first function in python!!!.")

In [14]:
func1()

This is my first function in python!!!.

In [15]:
def table():
    num = int(input("Enter the number:"))
    for i in range(1, 11):
        print(f"{num} * {i} = {num * i}")

In [17]:
table()

Enter the number: 12

12 * 1 = 12
12 * 2 = 24
12 * 3 = 36
12 * 4 = 48
12 * 5 = 60
12 * 6 = 72
12 * 7 = 84
12 * 8 = 96
12 * 9 = 108
12 * 10 = 120

In [18]:
# 1. No Args , No Return type
def func1():
    var1 = int(input("Var1:"))
    var2 = int(input("Var2:"))
    var3 = var1 + var2
    print("Addition:",var3)

In [19]:
func1()

Var1: 12
Var2: 45

Addition: 57

In [20]:
# 2. With Args , No Return type
def func2(var1, var2):
    var3 = var1 + var2
    print("Addition:",var3)

In [21]:
func2(12,45)

Addition: 57

In [23]:
# 3. No Args , with Return type
def func3():
    var1 = int(input("Var1:"))
    var2 = int(input("Var2:"))
    var3 = var1 + var2
    return var3

In [24]:
print("Addition:", func3())

Var1: 23
Var2: 67

Addition: 90

In [26]:
# 4. With Args , With Return type
def func4(var1, var2):
    var3 = var1 + var2
    return var3

In [27]:
print("Addition:", func4(23,67))

Addition: 90

In [31]:
from test import *

In [33]:
func1(12,34)

46

In [1]:
!python --version

Python 3.12.5

# Python - Data Structures

1. List
2. Tuples
3. Sets
4. Dict

In [66]:
var1 = [1,2,3,4,5,6,7,8,9,10]

In [67]:
var1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [69]:
print(type(var1))

<class 'list'>

In [70]:
name = ["Ravi","Nitin","Deepak","Himanshu","Divya"]

In [71]:
name

['Ravi', 'Nitin', 'Deepak', 'Himanshu', 'Divya']

In [72]:
mix = ["Data Scince","AI","Machine Learning",35.469,True,False,None, 13,45]
mix

['Data Scince', 'AI', 'Machine Learning', 35.469, True, False, None, 13, 45]

In [73]:
name

['Ravi', 'Nitin', 'Deepak', 'Himanshu', 'Divya']

In [7]:
name[0]

'Ravi'

In [8]:
name[3]

'Himanshu'

In [74]:
len('Knowledge')
len('Knowledge')-1

8

In [10]:
name[len(name)-1]

'Divya'

In [11]:
name[-1]

'Divya'

In [12]:
name[-2]

'Himanshu'

In [75]:
name

['Ravi', 'Nitin', 'Deepak', 'Himanshu', 'Divya']

In [15]:
print(name[:])
print(name[1:4])
print(name[:4])
print(name[:-1])
print(name[1:-1])

['Ravi', 'Nitin', 'Deepak', 'Himanshu', 'Divya']
['Nitin', 'Deepak', 'Himanshu']
['Ravi', 'Nitin', 'Deepak', 'Himanshu']
['Ravi', 'Nitin', 'Deepak', 'Himanshu']
['Nitin', 'Deepak', 'Himanshu']

In [76]:
l1 = [['Ravi', 'Nitin', 'Deepak', 'Himanshu', 'Divya'],[10,20,30,40,50],[2.5,4.5,6.6,9.3,8.8]]

In [77]:
l1

[['Ravi', 'Nitin', 'Deepak', 'Himanshu', 'Divya'],
 [10, 20, 30, 40, 50],
 [2.5, 4.5, 6.6, 9.3, 8.8]]

In [78]:
len(l1)

3

In [79]:
l1[0][0:3]

['Ravi', 'Nitin', 'Deepak']

In [80]:
l1[1][1]

20

In [81]:
l1[-1][-1]

8.8

## index(), Append(), Insert(), remove(), sort(), del

In [82]:
name

['Ravi', 'Nitin', 'Deepak', 'Himanshu', 'Divya']

In [83]:
name.index("Deepak")

2

In [84]:
name.append("Mohan")
name

['Ravi', 'Nitin', 'Deepak', 'Himanshu', 'Divya', 'Mohan']

In [85]:
name.insert(2,"Vishwajeet")
name

['Ravi', 'Nitin', 'Vishwajeet', 'Deepak', 'Himanshu', 'Divya', 'Mohan']

In [86]:
name[2] = "Yash"
name

['Ravi', 'Nitin', 'Yash', 'Deepak', 'Himanshu', 'Divya', 'Mohan']

In [87]:
name.remove('Mohan')
name

['Ravi', 'Nitin', 'Yash', 'Deepak', 'Himanshu', 'Divya']

In [88]:
del name[-1]
name

['Ravi', 'Nitin', 'Yash', 'Deepak', 'Himanshu']

In [90]:
name.pop(-1)
name

['Ravi', 'Nitin', 'Yash']

In [40]:
name.sort()

In [91]:
name

['Ravi', 'Nitin', 'Yash']

In [92]:
name.sort(reverse=True)
name

['Yash', 'Ravi', 'Nitin']

# List Comprihensions

In [93]:
mystr = "Vishwajeet"
mystr

'Vishwajeet'

In [94]:
mystr[0:3]

'Vis'

In [95]:
mylist = []

for letter in mystr:
    mylist.append(letter)
print(mylist)

['V', 'i', 's', 'h', 'w', 'a', 'j', 'e', 'e', 't']

In [96]:
mylist = [letter for letter in mystr]

mylist

['V', 'i', 's', 'h', 'w', 'a', 'j', 'e', 'e', 't']

In [97]:
lst = [x for x in range(0,11)]
lst

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [98]:
lst = [x*x for x in range(0,11)]
lst

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [99]:
lst = [x for x in range(0,11) if x%2==0]
lst

[0, 2, 4, 6, 8, 10]

# Tuple

In [100]:
t1 = (10,20,30,40)
t1

(10, 20, 30, 40)

In [101]:
t1[0]

10

In [102]:
t1[0] = 110

TypeError: 'tuple' object does not support item assignment

In [103]:
print(len(t1))
print(sum(t1))
print(min(t1))
print(max(t1))

4
100
10
40

In [104]:
del t1[0]

TypeError: 'tuple' object doesn't support item deletion

# set

In [105]:
l1 = [1,1,1,1,2,2,2,3,3,3,4,4,4,4,4,5,5,5,5,5,6,6,6,7,7,7,7]
l1

[1,
 1,
 1,
 1,
 2,
 2,
 2,
 3,
 3,
 3,
 4,
 4,
 4,
 4,
 4,
 5,
 5,
 5,
 5,
 5,
 6,
 6,
 6,
 7,
 7,
 7,
 7]

In [106]:
x = set(l1)
print(x)

{1, 2, 3, 4, 5, 6, 7}

# Dictionaries

In [107]:
mydict = {"key1":"value1","key2":"value2","key3":"value3"}
mydict

{'key1': 'value1', 'key2': 'value2', 'key3': 'value3'}

In [108]:
mydict["key1"]

'value1'

In [109]:
mydict = {"key1":54535413543, "key2":[10,20,30,40,50], "key3":["ml","dl","ds","ai"]}
mydict

{'key1': 54535413543,
 'key2': [10, 20, 30, 40, 50],
 'key3': ['ml', 'dl', 'ds', 'ai']}

In [110]:
mydict["key2"][1:-1]

[20, 30, 40]

In [111]:
mydict.items()

dict_items([('key1', 54535413543), ('key2', [10, 20, 30, 40, 50]), ('key3', ['ml', 'dl', 'ds', 'ai'])])

In [112]:
mydict.keys()

dict_keys(['key1', 'key2', 'key3'])

In [113]:
mydict.values()

dict_values([54535413543, [10, 20, 30, 40, 50], ['ml', 'dl', 'ds', 'ai']])

# Happy Programming!!!